/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #e0f7fa, #07a114); /* azul claro para azul médio */
    color: #333;
    padding: 20px;
}



.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


h1, h2, h3 {
    color: #1f9407;
    margin-bottom: 20px;
}


button, .btn {
    background-color: #1dbd08;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
     width: 150px; /* Novo tamanho do botão */
}

button:hover, .btn:hover {
    background-color: #2aa00d;
}


form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

input, select, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

input:focus, textarea:focus, select:focus {
    border-color: #21a108;
    outline: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #1eb80a;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}


.alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.alert.success {
    background-color: #d4edda;
    color: #155724;
}

.alert.error {
    background-color: #f8d7da;
    color: #721c24;
}


a {
    color: #13b62e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
